<div class="container">
  <h1>ANSWER PAGE🚀</h1>

  <br>

  <div class="alert alert-primary">
    <%= @ask %>
    <p>- You</p>
  </div>

  <br>

  <div class="alert alert-secondary">
    <%= @answer %>
    <p>- Coach</p>
  </div>

  <br>

  <%= link_to "Ask a new question", ask_path %>
</div>


